* {
    font-family: 'Source Code Pro', monospace;
    margin: 0;
    padding: 0;
    /*background-color: rgb(247, 240, 230);*/
}

.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00322B;
    padding: 1rem;
}

.cabecalo-titulo {
    color: rgb(247, 240, 230);
}

.cabecalo-lista {
    display: flex;
    list-style: none;
    color: rgb(247, 240, 230);
}

.cabecalo-lista li {
    padding: 0.5rem;
}

.cabecalo-lista a {
    text-decoration: none;
    color: rgb(247, 240, 230);
}

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(247, 240, 230);
}

.principal-texto p {
  text-align: justify;
  padding: 2rem; 

}
 .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
 } 

.card {
    background-color: #2e716774;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: 1rem;
    align-items: center;
    width: 320px;
} 

h3, h2{
    padding: 2rem;
    
    text-align: center;
}

.card p{
    padding: 20px;
    text-align: justify;
    max-width: 300px;
}

iframe {
   max-width: 300px;
}

@media screen and (min-width: 768px) {
    .cabecalho {
        flex-direction: row;
        justify-content: space-between;
    }

    .principal {
       
        justify-content: space-between;
        padding: 2rem;
        align-items: initial;
    }
    
    .cards {
    flex-direction: row;
    justify-content: space-around;
 }  

    .card {
        max-width: 350px;
        height: 500px;
    }


    iframe {
        width: 370px;
    }

}